GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Email Configuration for Verification Codes
SMTP_USER=
SMTP_PASS=

# Stripe Configuration

# WhatsApp Configuration (Twilio)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
COMPANY_WHATSAPP_EMAIL=

# Gemini API Key
GEMINI_API_KEY=
