GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Email Configuration for Verification Codes
SMTP_USER=
SMTP_PASS=

# Stripe Configuration
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLIC_KEY=

